extends ../../layouts/tutorial

block content
    .container
        .row
            .col-md-9
                .home-container-padding
                    .home-module-title
                        h3 LATEST BEAUTY TUTORIALS
                        //- .button-tutorial.pull-right
                        //-     a.btn.btn-tutorial(href='/beautytutorial/post')
                        //-         i.fa.fa-arrow-up
                        //-         | &nbsp;Post a Tutorial    
                    hr
                    .row
                        if (tutorials != 0)
                            each tutorial in tutorials
                                .col-sm-4.col-md-4
                                    .tutorial-card-wrap
                                        .tutorial-card-author-wrap
                                            a(href='/' + tutorial.author.username)
                                                .tutorial-card-author-photo
                                                    img.img-circle.object-fit(src=tutorial.author.photo)
                                            .tutorial-card-author-details-wrap
                                                a.gray(href='/' + tutorial.author.username)
                                                    .tutorial-card-author-name
                                                        | #{tutorial.author.displayname}
                                                .tutorial-card-author-stats.small.text-muted
                                                    i.fa.fa.fa-clock-o
                                                    span(style='text-transform:capitalize') &nbsp;#{moment(tutorial.timestamp).format('DD MMM YYYY')}
                                        hr.no-margin
                                        .tutorial-card-title
                                            a.gray(href='/tutorial/' + tutorial.slug) #{tutorial.title}
                                        .tutorial-card-thumbnail-container
                                            if tutorial.type == 'video-youtube'
                                                .tutorial-card-thumbnail-wrap
                                                    .tutorial-card-thumbnail
                                                        a(href='/tutorial/' + tutorial.slug)
                                                            .tutorial-card-video-tint
                                                                i.fa.fa-youtube-play.fa-4x
                                                            img.object-fit(src='http://img.youtube.com/vi/' + tutorial.youtubeid + '/0.jpg')
                                            if tutorial.type == 'video-vimeo'
                                                .tutorial-card-thumbnail-wrap
                                                    .tutorial-card-thumbnail
                                                        a(href='/tutorial/' + tutorial.slug)
                                                            .tutorial-card-video-tint
                                                                i.fa.fa-youtube-play.fa-4x
                                                            img.object-fit(src='http://img.youtube.com/vi/' + tutorial.youtubeid + '/0.jpg')
                                            if tutorial.type == 'video-upload'
                                                .tutorial-card-thumbnail-wrap
                                                    .tutorial-card-thumbnail
                                                        a(href='/tutorial/' + tutorial.slug)
                                                            .tutorial-card-video-tint
                                                                i.fa.fa-youtube-play.fa-4x
                                                            img.object-fit(src=tutorial.thumbnailpath)
                                            if tutorial.type == 'image'
                                                .tutorial-card-thumbnail-wrap
                                                    .tutorial-card-thumbnail
                                                        a(href='/tutorial/' + tutorial.slug)
                                                            img.object-fit(src=tutorial.thumbnail)
                                        hr
                                        .tutorial-card-cta-wrap.clearfix
                                            p Product use in this tutorial:
                                            .row
                                                .col-xs-12.col-md-12
                                                    .variable-width
                                                        if (tutorial.products)
                                                            each item in tutorial.products
                                                                a.gray(href='/products/' + item.slug)
                                                                    .product-home-widget-wrap
                                                                        .product-home-widget-display
                                                                            .tutorial-card-author-photo
                                                                                img.img-circle.object-fit(src=item.imagepath)
                                                                        .product-home-widget-display
                                                                            .product-home-widget-stats-name
                                                                                b #{item.name}
                                                                            .product-home-widget-stats.small
                                                                                i #{item.brand.name}
                                                                            .product-home-widget-stats.small
                                                                                | RM #{parseFloat(item.price).toFixed(2)}
                                                        if (!tutorial.products)
                                                            .product-home-widget-wrap.text-center
                                                                i No products found
                                        //.tutorial-card-cta-wrap
                                        //    .tutorial-card-cta-btn.small
                                        //        i.fa.fa.fa-heart.fa-fw
                                        //        | &nbsp;#{tutorial.heart} Benefited


                                            //.tutorial-card-cta-btn.small
                                            //    i.fa.fa.fa-comment.fa-fw
                                            //    | &nbsp;Comment
                                            //.tutorial-card-cta-btn.small
                                            //    i.fa.fa.fa-share.fa-fw
                                            //    | &nbsp;Share
                                    
            .col-md-3
                .sidebar-component-wrap
                    .sidebar-component-title
                        h4 RISING BEAUTY GURUS
                        | Beauty experts who deserve some love!
                    hr
                    .trending-experts-sidebar
                        each item in trendingexpert
                            .col-xs-4.col-sm-2.col-md-6
                                .expert-widget-small-wrap.text-center
                                    .expert-widget-small-photo-wrap
                                        .expert-widget-small-photo
                                            a(href='/' + item.username)
                                                img.img-circle.object-fit(src=item.photo)
                                        if item.rank === 'creator'
                                            .expert-widget-small-flag
                                                img.object-fit(src='../img/badge/creator.png')
                                    .expert-widget-small-details-wrap
                                        .expert-widget-small-details-name
                                            a.gray(href='/' + item.username)
                                                | #{item.displayname}
                                        .expert-widget-small-details-influence.small.text-muted
                                            i.fa.fa-user
                                            | &nbsp;!{(item.influence).toLocaleString('en')}

    script.
        $('.expert-widget-small-details-name').truncate({
            lines: 1
        });
        $('.variable-width').slick({
            infinite: true,
            dots: false,
            speed: 300,
            slidesToShow: 1,
            variableWidth: true,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 3000
        });
        $('.product-home-widget-stats-name').truncate({
            lines: 1
        });
        $("img").on("error", function () {
            $(this).attr('src', '../img/static/empty-product.png');
        });