extends ../../layouts/admin

block content
    .panel
        .panel-heading
            .pull-left
                h4.panel-title Fulfillment Control
                p
                    | Manage all Favful's fulfillments.
            .pull-right
                //a(href="/merchants/add").btn.btn-success.btn-sm
                //    i.fa.fa-plus.fa-fw
                //    | Add New Merchant
        .clearfix
        .panel-body
            if (flash.length == 0)
            else
                .alert.alert-info.text-center
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    strong
                        i.fa.fa-exclamation-circle(aria-hidden='true')
                        | &nbsp;#{flash}
            .table-responsive
                table.table.nomargin
                    thead
                        tr
                            th Order ID
                            th Deadline
                            th Merchant
                            th Status
                            th Action
                    tbody
                        each item in fulfillments
                            tr
                                td(style='width:30%') #{item.orderId}
                                td #{moment(item.maxShippingDate).format('DD MMMM YYYY')}
                                td #{item.merchantCompanyName}
                                td #{item.status}
                                td
                                    //ul.table-options
                                    //    li.tooltips(data-toggle='tooltip', title='Edit Merchant')
                                    //        a(href='/merchants/edit/' + merchant.id)
                                    //            i.fa.fa-pencil
    script.
        $('table').DataTable({
            "columnDefs": [
                {"width": "50%", "targets": 0}
            ],
            "order": [[2, "desc"]],
            "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
        });